
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body { line-height: 1.5; }
body, select, input, textarea {
  color: #444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 0.25em 0;
}
h1 { font-size: 2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; text-transform: uppercase; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #003366; }
a:hover { color: #004d99; }
p { margin: 0 0 1.2em; }
ul, ol { /*margin-left: 1.8em;*/ }
ol { list-style-type: decimal; }
ul, ol, dl { margin-bottom: 0.6em; }
ul li, ol li { padding-bottom: 0.6em; }
ul.unstyled-list, ol.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.unstyled-list li, ol.unstyled-list li {
  padding-bottom: 0;
}
strong {
  font-weight: 800;
}
hr {
  margin: 1.5em 0;
  border: 0;
  border: 1px solid #eeeeee;
  border-top-color: rgba(0,0,0,0.2);
  border-bottom-color: rgba(255,255,255,0.75);
  border-right: 0;
  border-left: 0;
}
.capitalize { text-transform: capitalize; }

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0.25em 0.5em 0.25em;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #003366;
  box-shadow: 0 0.125em 0.125em rgba(0,0,0,0.5);
  font-weight: 600;
  border: 3px solid #004d99;
  border-radius: 3px;
}
.btn-disabled,
.btn-disabled:visited,
.btn-disabled:link {
  background-color: #ddd;
  border-color: #ccc;
  color: #bbb;
  box-shadow: none;
  cursor: default;
}
.btn-block,
.btn-block:visited,
.btn-block:link {
  clear: both;
  display: block;
  line-height: 1.2;
  margin: 0 0 0.5em;
  padding: 0.5em 0.5em 0.625em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
}
.btn-large {
  font-size: 1.25em;
  padding: 0.75em 1em 0.5em;
}
.btn-small {
  font-size: 0.85em;
}
.coming-soon {
  display: block;
  font-size: 0.625em;
  font-weight: normal;
  text-transform: uppercase;
}

/* Forms */
form {
}
label {
}
.input-block,
textarea {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  width: 100%;
  border: 0.25em solid #a1cbcf;
  padding: 0.5em;
  outline: 0;
}
.input-block:focus,
textarea:focus {
  outline: 2px solid #268099;
}
textarea {
  height: 6.5em;
  resize: none;
}


/* =Nonsemantic Base Styles
-------------------------------------------------------------- */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Hide for both screenreaders and browsers */
.is-hidden { display: none; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders */
.is-screen-reader-text,
.is-visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Hide visually and from screenreaders, but maintain layout */
.is-invisible { visibility: hidden; }

.nobreak { white-space: nowrap; }


/* =Layout
-------------------------------------------------------------- */

html { height: 100%; }
body {
  min-height: 100%;
  background-color: #fff;
  text-align: left;
}
.page {
  max-width: 960px;
  min-height: 50em;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.container {
  padding: 1em;
}
.page-nav {
  display: none;
}


/* =Header
-------------------------------------------------------------- */

.site-header {
  height: 170px;
  background: url(http://stormrecovery.ny.gov/sites/all/themes/nysandyredesign/images/crz-header2.jpg) 0 0 no-repeat scroll;
}
.site-title {
  color: #003366;
  font-size: 1em;
  padding: 0 1em 0 0;
}
.site-title span {
  display: block;
  padding-top: 20px;
  line-height: 1.2;
}
.site-logo {
  float: left;
  margin-top: -15px;
}


/* =Content
-------------------------------------------------------------- */

.shareabouts-list {
  font-size: 1.25em;
  font-weight: bold;
  margin-left: 0;
  list-style: none;
}

.what-btn {
  color: #004d99;
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  margin: 0.75em 0;
}
.what-btn:hover { 
  color: #003366;
}
.what-checkbox {}
.what-text {
  background: #eee;
  padding: 1em 1.5em;
  border-radius: 3px;
  font-size: 0.85em;
}
.what-checkbox:checked + .what-text {
  display: none;
}


/* =Media Queries for Responsive Layout
-------------------------------------------------------------- */

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
  .container {
    padding: 1.5em;
  }
  .site-title span {
    font-size: 1.25em;
    max-width: 32em;
    padding-top: 50px;
  }
  .site-logo {
    margin-top: -10px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 2em;
  }
  .site-title span {
    padding-top: 60px;
    font-size: 1.5em;
  }
  .welcome {
/*    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.75;*/
  }
}

@media only screen and (min-width: 970px) {
  body {
    padding-bottom: 40px;
  }
  .page-nav {
/*    display: block;*/
  }
  .page-nav a {
    float: left;
    width: 50%;
    background-color: #003366;
    color: #fff;
    font-size: 0.85em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 0;
  }
  .page-nav a:hover {
    background-color: #004d99;
  }
  .container {
    padding: 40px;
    padding-right: 380px;
    position: relative;
  }
  .shareabouts {
    float: right;
    width: 300px;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .shareabouts p {
    font-size: 0.85em;
    font-weight: bold;
  }
}
